
@using Blazor.Data
@using Entitiy
@inject IFamilyApi familyApi

<RubberComponent ComponentTitle="Adult" Family="@Family">

    <div class="container">
        <table class="table ">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">HaierColor</th>
                <th scope="col">EyeColor</th>
                <th scope="col">Weight</th>
                <AuthorizeView>
                    <Authorized>
                        <th scope="col">Edit</th>
                        <th scope="col">Remove</th>
                    </Authorized>

                </AuthorizeView>

            </tr>
            </thead>
            @foreach (Adult adult in Family.Adults)
            {
                <tbody>
                <tr>
                    <td>@adult.FirstName @adult.LastName</td>
                    <td>@adult.Age</td>
                    <td>@adult.Sex</td>
                    <td>@adult.HairColor</td>
                    <td>@adult.EyeColor</td>
                    <td>@adult.Weight</td>
                    <AuthorizeView>
                        <Authorized>
                            <td>
                                <div><EditComponent AdultID="@adult.Id"  ComponentTile="Edit Adult"/></div>
                            </td>
                            <td>
                                <button @onclick="@(() => RemoveAdult(adult.Id))">
                                    <span class="oi oi-trash"/>
                                </button>

                            </td>
                        </Authorized>

                    </AuthorizeView>

                </tr>
                </tbody>
            }
        </table>

    </div>


</RubberComponent>

@code {
    
    [Parameter]
    public Family Family { get; set; }
    
    private void RemoveAdult(int aId)
    {
        Adult adultToRemove = Family.Adults.First(a => a.Id == aId);
        familyApi.RemoveAdult(aId);
        Family.Adults.Remove(adultToRemove);
    }


}