@using Blazor.Data
@using Entitiy
@inject IFamilyApi familyApi

<RubberComponent ComponentTitle="Children" Family="@Family">
    <AuthorizeView Policy="MustBeSocialHelper">
        <Authorized>

            @if (Family.Children.Any())
            {
                <div class="container">
                    <table class="table ">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Sex</th>
                            <th scope="col">HaierColor</th>
                            <th scope="col">EyeColor</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Child Pets</th>

                            <th scope="col">Edit</th>
                            <th scope="col">Remove</th>


                        </tr>
                        </thead>
                        @foreach (Child child in Family.Children)
                        {
                            <tbody>
                            <tr>
                                <td>@child.FirstName @child.LastName</td>
                                <td>@child.Age</td>
                                <td>@child.Sex</td>
                                <td>@child.HairColor</td>
                                <td>@child.EyeColor</td>
                                <td>@child.Weight</td>
                                <td>
                                    <PetDetails Family="@Family" Id="@child.Id" ></PetDetails>
                                </td>


                                <td>
                                    <div>
                                        <EditChild ChildId="@child.Id" ComponentTile="Child"/>
                                    </div>
                                </td>
                                <td>

                                    <button @onclick="@(() => RemoveChild(child.Id))">
                                        <span class="oi oi-trash"/>
                                    </button>
                                </td>


                            </tr>
                            </tbody>
                        }
                    </table>

                </div>
            }
            else
            {
                <span>No children</span>
            }
        </Authorized>
        <NotAuthorized>
            <span> You must be social helper to view this page</span>
        </NotAuthorized>

    </AuthorizeView>


</RubberComponent>

@code {

    [Parameter]
    public Family Family { get; set; }

    private void RemoveChild(int cId)
    {
        Child childToRemove = Family.Children.First(c => c.Id == cId);
        familyApi.RemoveChild(cId);
        Family.Children.Remove(childToRemove);
    }

}